.header {
  height: 6rem;
  width: 100vw;
  /* background-color: aqua; */
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  
}
.logo{
  display: flex;
  align-items: center;
  width: 28%;
  justify-content: space-between;
  /* background-color: aqua; */
}
.header_icons {
  width: 55%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.header_text p{
    font-size: 17px;
    font-family:'Kumbh Sans',sans-serif;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(99, 98, 98);
}

.header_text h3{
  font-size: 21px;
    font-weight: 700;
    /* font-family: Mukta; */
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}

@media (max-width:360px) {
  .header{
    height: 17rem;
    width: 406vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-left: 481px;
  }

  .logo{
    width: 53%;
  }
}
@media (max-width:1280px) {
  .header {
    height: 11rem;
    width: 106vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
    margin-left: 102px;
  }
}

@media (max-width:767px) {
  .header {
    height: 17rem;
    width: 225vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
    margin-left: 202px;
    flex-direction: column;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    /* background-color: aqua; */
}
}
